.button {
	@include button(auto, auto, 1.15rem 4.912rem, map-get($basic, theme), map-get($basic, theme));

	&:hover {
		background: darken(map-get($basic, theme), 10%);
		border-color: darken(map-get($basic, theme), 10%);
	}
	&:active {
		background: darken(map-get($basic, theme), 15%);
		border-color: darken(map-get($basic, theme), 15%);
	}
	&--disabled,
	&:disabled {
		pointer-events: none;
	}

	&--white {
		color: map-get($basic, primary);
		background: $colorWhite;
			&:hover {
				color: $colorWhite;
			}
	}

	&--100 {
		width: 100%;
	}

	@include bp-mobile {
		width: 100%;
	}
}