.input {
	position: relative;

	input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]) {
		@include input(4.3rem, 0);
	}

	textarea {
		@include input(15rem, 0);
		min-height: 10rem;
		resize: vertical;
	}

	input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]),
	textarea {
		color: $colorWhite;
		border-bottom-color: rgba($colorWhite, .6);

		&:invalid {
			color: $colorRed;
			border-bottom-color: $colorRed;
		}

		&:focus {
			border-bottom-color: rgba($colorWhite, 1);

			&::-webkit-input-placeholder {
				color: transparent;
			}
			&::-moz-placeholder {
				color: transparent;
			}
			&:-ms-input-placeholder {
				color: transparent;
			}
			&:-moz-placeholder {
				color: transparent;
			}
		}

		&:disabled {
			pointer-events: none;
			border-color: transparent;
			@include noselect;
		}

		&::-webkit-input-placeholder {
			color: $colorWhite;
		}
		&::-moz-placeholder {
			color: $colorWhite;
		}
		&:-ms-input-placeholder {
			color: $colorWhite;
		}
		&:-moz-placeholder {
			color: $colorWhite;
		}

		//chrome autocomplete
		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus {
			-webkit-text-fill-color: $colorWhite;
			-webkit-box-shadow: 0 0 0 100rem transparent inset;
			transition: background-color 5000s ease-in-out 0s;
		}
	}

	&--error {
		input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]),
		textarea {
			color: $colorRed;
			border-bottom-color: $colorRed;
		}

		.input--error {
			display: block;
		}
	}
	&--success {
		input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]),
		textarea {}
	}

	.input--error {
		display: none;
		margin-top: .6rem;
		color: $colorRed;
		font-size: 1.2rem;
		line-height: 2rem;
	}
}