<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">

    <title>{% block title %}Default title{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/main.css">

    <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="./assets/favicon/manifest.json">
    <link rel="mask-icon" href="./assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div class="website-wrapper js-website-wrapper">
        {% include 'template-parts/website-header.twig' %}

        <main class="website-workarea">
            {% block page %}{% endblock %}
        </main>

        {% include 'template-parts/website-footer.twig' %}
        {% include 'template-parts/website-aside.twig' %}
    </div>

    <script src="./assets/js/vendor.js"></script>
    <script src="./assets/js/main.js"></script>
</body>
</html>