<div class="breadcrumbs">
    {% for i in array.links %}
        <div class="breadcrumbs__element">
            <a href="{{ i.url }}" class="breadcrumbs__link borderless">{{ i.value }}</a>
        </div>
    {% endfor %}
    <div class="breadcrumbs__element">{{ array.current }}</div>
</div>