{% set navigation = {
    0 : {
        active: true,
        value : 'Тарифы',
        icon  : '<svg class="i _bars" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 459 459" xml:space="preserve"><path d="M0,382.5h459v-51H0V382.5z M0,255h459v-51H0V255z M0,76.5v51h459v-51H0z"/></svg>'
    },
    1 : {
        value: 'Продукты'
    },
    2 : {
        value: 'Услуги'
    },
    3 : {
        value: 'Важное'
    },
    4 : {
        value: 'Поддержка'
    },
    5 : {
        value: 'О компании'
    },
} %}

<nav class="navigation">
    {% for i in navigation %}
        <a href="javascript:void(0);" class="navigation__link borderless {{ i.active ? '_active' }}">
            {% if i.icon %}
                {{ i.icon }}
            {% endif %}
            {{ i.value }}
        </a>
    {% endfor %}
</nav>