<section class="section{{ sectionMod }} {{ sectionBG ? ' lazyload' }}" {{ sectionBG ? sectionBG }}>
    <div class="container">
        <header class="section__header">
            <h2 class="section__headline">{% block headline %}{% endblock %}</h2>
            {% if block('button') %}
                {% block button %}{% endblock %}
            {% endif %}
        </header>
        <div class="section__body">
            {% block content %}{% endblock %}
        </div>
    </div>
</section>