<header class="website-header">
    <div class="container">
        <a href="javascript:void(0);" class="logotype borderless">
            <img class="lazyload" src="assets/images/logotype/logotype.jpg" alt="">
        </a>
        {% include 'navigation.twig' %}
        <div class="website-header-contacts">
            <a href="tel:+74957484748" class="website-header-contacts__link borderless">+7 495 748-47-48</a>
            <div class="website-header-contacts__label">Работаем в&nbsp;режиме 24/7</div>
        </div>
        <button class="navigation-button js-navigation-button" type="button">
            <span class="navigation-button__bar"></span>
        </button>
    </div>
</header>
