<footer class="website-footer">
    <div class="container">
        <div class="website-footer-copyrights">&copy;&nbsp;1997-2019 Компания &laquo;AБT&raquo;. Все права защищены.</div>
        {% include '../includes/social-networks.twig' %}
        <div class="website-footer-policy">
            <a href="javascript:void(0);" class="website-footer-policy__link borderless">Политика конфиденциальности</a>
        </div>
    </div>
</footer>
