{% extends '../template-parts/section.twig' %}
{% set figures = {
    0 : {
        aboutMod    : 'grid-col grid-col--3 grid-col grid-col--m-6 grid-col--s-6 grid-col--xs-12',
        value       : '100&nbsp;000',
        description : 'Клиентов на&nbsp;постоянной поддержке'
    },
    1 : {
        aboutMod    : 'grid-col grid-col--3 grid-col grid-col--m-6 grid-col--s-6 grid-col--xs-12',
        value       : '30',
        description : 'Офисов по&nbsp;всей России и&nbsp;продолжаем расширяться'
    },
    2 : {
        aboutMod    : 'grid-col grid-col--3 grid-col grid-col--m-6 grid-col--s-6 grid-col--xs-12',
        value       : '10&nbsp;лет',
        description : 'Мы&nbsp;успешно работаем в&nbsp;сфере электронных решений'
    },
    3 : {
        aboutMod    : 'grid-col grid-col--3 grid-col grid-col--m-6 grid-col--s-6 grid-col--xs-12',
        value       : '3+',
        description : 'Гибкая система расчетов для постояных клиентов'
    },
} %}
{% set slider = {
    0 : [0,1,2],
    1 : [1,2,0],
} %}

{% block headline %}О&nbsp;компании{% endblock %}
{% block content %}
    <div class="about-array grid">
        <div class="about-array__element grid-col grid-col--6 grid-col--m-12 grid-col--s-12">
            <div class="about-element">
                <p>Мы&nbsp;занимается внедрением систем электронного документооборота, которые позволяют существенно
                    облегчить отчетность через интернет. Мы&nbsp;являемся официальным партнером Группы компаний &laquo;Тензор&raquo;,
                    разработавшей программу СБИС++.</p>
            </div>
        </div>
        <div class="about-array__element grid-col grid-col--6 grid-col--m-12 grid-col--s-12">
            <div class="about-element">
                <p>На&nbsp;сегодняшний день СБИС++ занимает первое место среди разработок, предназначенных для сдачи
                    отчетности в&nbsp;электронном виде. Мы&nbsp;оказываем услуги юридическим лицам, индивидуальным
                    предпринимателям, а&nbsp;также физическим лицам.</p>
            </div>
        </div>
    </div>
    <div class="about-figures grid">
        {% for i in figures %}
            {% include '../elements/about-figure.twig' with {
                aboutMod    : i.aboutMod,
                value       : i.value,
                description : i.description
            } %}
        {% endfor %}
    </div>
    <div class="about-slider _with-arrows _with-dots js-about-slider">
        {% for i in slider %}
            <div class="about-slider__element">
                <div class="grid">
                    {% for s in i  %}
                        <div class="grid-col grid-col--4 grid-col--s-4">
                            <img
                                    class="lazyload"
                                    data-src="assets/images/about/slider/{{ s }}.jpg"
                                    data-srcset="assets/images/about/slider/{{ s }}.jpg 1x, assets/images/about/slider/{{ s }}-2x.jpg 2x"
                                    src=""
                                    srcset=""
                                    alt="">
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}