{% set career = {
    0 : {
        icon        : 0,
        headline    : 'Карьерный рост и&nbsp;развитие',
        description : 'Из&nbsp;простого рядового специалиста в&nbsp;руководители направления: в&nbsp;нашей компании это реально.Мы помогаем развиваться!',
    },
    1 : {
        icon        : 1,
        headline    : 'Корпоративное обучение',
        description : 'Наши сотрудники получают знания, навыки и&nbsp;умения, способствующие профессиональному росту и&nbsp;дальнейшему успешному развитию.',
    },
    2 : {
        icon        : 2,
        headline    : 'Молодая и&nbsp;дружная команда',
        description : 'Объединенные общими целями мы&nbsp;вдохновляем и&nbsp;поддерживаем друг друга в&nbsp;достижении общих целей и&nbsp;решении любых задач.',
    },
    3 : {
        icon        : 3,
        headline    : 'Интересные проекты и&nbsp;задачи',
        description : 'Ежедневно мы&nbsp;сталкиваемся с&nbsp;новыми задачами и&nbsp;находим для них оптимальные решения.',
    },
} %}

<section class="section section--career">
    <div class="container">
        <div class="grid">
            <div class="grid-col grid-col--6 grid-col--m-12 grid-col--s-12">
                <header class="section__header">
                   <h2 class="section__headline">Карьера в нашей <br>компании</h2>
                </header>
                <div class="section__body">
                    <p>Карьера в&nbsp;компании АБТ&nbsp;&mdash; это возможность проявить себя в&nbsp;одной из&nbsp;самых
                        перспективных областей&nbsp;&mdash; сфере информационных технологий. Мы&nbsp;приглашаем как
                        молодых специалистов, так и&nbsp;профессионалов.</p>
                    <p>Работать у&nbsp;нас&nbsp;&mdash; это быть частью молодого, развивающегося коллектива. Мы&nbsp;нацелены
                        на&nbsp;построение тесных контактов, основанных на&nbsp;доверии, профессионализме и&nbsp;достижении
                        общих целей.</p>
                </div>
                <div class="section__control">
                    <a href="javascript:void(0);" class="button">Наши вакансии</a>
                </div>
            </div>
            <div class="grid-col grid-col--6 grid-col--m-12 grid-col--s-12">
                <div class="career-array grid">
                    {% for i in career %}
                        <div class="career-array__element grid-col grid-col--6 grid-col--xs-12">
                            {% include '../elements/career.twig' with {
                                icon        : i.icon,
                                headline    : i.headline,
                                description : i.description,
                            } %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>