{% set breadcrumbs = {
    links : {
        link_1 : {
            url   : 'about.html',
            value : 'Главная'
        }
    },
    current : 'Экспозиторы'
} %}
{% set company = [
    'Автоматизация бизнеса под ключ',
    'Подбор и&nbsp;установка программного обеспечения',
    'Обучение и&nbsp;сопровождение каждого клиента',
    'Круглосуточная техническая поддержка',
    'Решение задач любой сложности и&nbsp;размеров',
] %}

<div class="fullwidth-banner">
    <div class="fullwidth-banner__image" style="background-image: url(assets/images/fullwidth-banner/image-0.jpg)"></div>
    <div class="container">
        {% include '../template-parts/breadcrumbs.twig'  with { array : breadcrumbs } %}
        <h1 class="fullwidth-banner__headline">
            <span class="_theme">Компания АБТ.</span>
            <span>Автоматизация. Бизнес.</span>
            <span>Технологии.</span>
        </h1>
        <div class="company-features">
            <h6 class="company-features__headline">Сделаем вашу работу проще</h6>
            <div class="company-features__array">
                {% for i in company %}
                    <div class="company-features__element">{{ i }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>