{% extends '../template-parts/section.twig' %}
{% set sectionMod = ' section--reviews' %}
{% set reviews = {
    0 : {
        headline : 'Генеральный директор &laquo;РЕЗОН-С&raquo;<br>Куракин М.В.',
        text     : 'Компания РЕЗОН-С выражает благодарность специалистам технической поддержки! Услышали и&nbsp;помогли разобраться в&nbsp;вопросе нашей клиентки после неудачных попыток наших специалистов. Клиентка осталась довольна: &laquo;Побольше&nbsp;бы таких специалистов, которые действительно разбираются в&nbsp;том, что делают!&raquo;.',
    },
    1 : {
        headline : 'Генеральный директор ООО &laquo;ВЕТЕРАН ПВ&raquo;<br>Чаадаев А.В',
        text     : 'Очень хочется поблагодарить сотрудников технической поддержки за&nbsp;качествdtенную и&nbsp;профессиональную работу по&nbsp;установке электронной подписи, а&nbsp;именно Ухова Никиту. Чувствуется человек большой души, с&nbsp;уважением относится к&nbsp;клиентам и&nbsp;успешно справился с&nbsp;поставленной задачей, хоть интернет тормозил.',
    },
} %}

{% block headline %}Отзывы о&nbsp;компании{% endblock %}
{% block button %}
    <a href="javascript:void(0);" class="button">Оставить отзыв</a>
{% endblock %}
{% block content %}
    <div class="reviews-array grid">
        {% for i in reviews %}
            <div class="reviews-array__element grid-col grid-col--6 grid-col--m-12 grid-col--s-12">
                {% include '../elements/reviews-element.twig' with {
                    headline : i.headline,
                    text     : i.text,
                } %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

