{% set figures = {
    0 : {
        aboutMod    : 'grid-col grid-col--6 grid-col--xs-12',
        value       : '12&nbsp;530',
        description : 'Человек уже посетили наши семинары по&nbsp;СБИС'
    },
    1 : {
        aboutMod    : 'grid-col grid-col--6 grid-col--xs-12',
        value       : '10 лет',
        description : 'Мы&nbsp;успешно работаем в&nbsp;сфере электронных решений'
    }
} %}

<section class="section section--seminars">
    <div class="container">
        <div class="grid grid--align-center ">
            <div class="grid-col grid-col--6 grid-col--l-12 grid-col--s-12">
                <header class="section__header">
                   <h2 class="section__headline">Обучающие семинары</h2>
                </header>
                <div class="section__body">
                    <p>Специально для вас мы&nbsp;проводим семинары и&nbsp;тренинги, на&nbsp;которых наши эксперты дают
                        не&nbsp;только теоретическую базу, но&nbsp;и&nbsp;предоставляют возможность работы в&nbsp;платформе
                        СБИС прямо на&nbsp;мероприятиях. Мы&nbsp;ждем вас!</p>

                    <div class="about-figures grid">
                        {% for i in figures %}
                            {% include '../elements/about-figure.twig' with {
                                aboutMod    : i.aboutMod,
                                value       : i.value,
                                description : i.description
                            } %}
                        {% endfor %}
                    </div>
                </div>
                <div class="section__control">
                    <a href="javascript:void(0);" class="button button--white">Все семинары</a>
                </div>
            </div>
            <div class="grid-col grid-col--6 grid-col--l-12 grid-col--s-12">
                <div class="seminar-section">
                    <div class="seminar-section__image lazyload" data-image-src="assets/images/seminar/image-0.jpg"></div>
                    <div class="seminar-section__body">
                        <header class="seminar-section__header">
                            <h5 class="seminar-section__type">Скоро семинар</h5>
                            <div class="seminar-section__props">
                                <div class="seminar-section__prop seminar-section__prop--date">21.03.2019</div>
                                <div class="seminar-section__prop seminar-section__prop--time">10:00-15:00, МСК</div>
                            </div>
                        </header>
                        <h3 class="seminar-section__headline">
                            Электронные торги от А до Я.
                            <span>Как увеличить шансы на победу?</span>
                        </h3>
                        <footer class="seminar-section__footer">
                            <div class="seminar-section__price">2&nbsp;000&nbsp;&#8381;</div>
                            <div class="seminar-section__control">
                                <a href="javascript:void(0);" class="button button--100">Записаться</a>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>