{% extends '../template-parts/section.twig' %}
{% set sectionMod = ' section--subscription section--with-image system-message js-system-message' %}
{% set sectionBG = 'data-image-src="assets/images/subscription/image-0.jpg"' %}

{% block headline %}Будьте в&nbsp;курсе последних новостей!{% endblock %}
{% block content %}
    <form action="about.html" method="POST" class="form js-form">
        <div class="form__group form__group--subscription">
            <div class="form__element form__element--50">
                {% include '../elements/input.twig' with {
                    type        : 'text',
                    name        : 'userName',
                    placeholder : 'Имя'
                } %}
            </div>
            <div class="form__element form__element--50">
                {% include '../elements/input.twig' with {
                    type        : 'email',
                    name        : 'userEmail',
                    placeholder : 'Email'
                } %}
            </div>
        </div>
        <div class="form__group form__group--control">
            <button class="button button--100" type="submit">Подписаться</button>
            <div class="form__agreement">Я принимаю <a href="javascript:void(0);">условия Оферты</a> сайта и&nbsp;согласен с&nbsp;<a href="javascript:void(0);">Политикой конфиденциальности</a>.</div>
        </div>

        <div class="system-message-container js-system-message-container">
            <div class="system-message-container__headline h1">Подписка оформлена!</div>
        </div>
    </form>
{% endblock %}

t