.breadcrumbs {
	@include flex();
	color: map-get($basic, theme);
	font-size: 1.3rem;
	font-weight: 500;
	line-height: 3.2rem;

		&__element {
			position: relative;
			@include inherit;
				&:not(:last-child) {
					margin-right: 4.4rem;

					&::after {
						content: '/';
						position: absolute;
						top: .1rem;
						right: -2.7rem;
						display: block;
						color: $colorWhite;
						font-size: inherit;
						line-height: inherit;
						z-index: 1;
					}
				}
		}
		&__link {
			color: $colorWhite;
			font-size: inherit;
			line-height: inherit;
		}
}