.grid {
	display: flex;
	width: calc(100% + #{$gridBase * 4});
	flex-wrap: wrap;
	margin-left: -#{$gridBase * 2};
	margin-right: -#{$gridBase * 2};

	&--align-start {
		align-items: flex-start;
	}
	&--align-center {
		align-items: center;
	}
	&--align-end {
		align-items: flex-end;
	}

	&--start {
		justify-content: flex-start;
	}
	&--center {
		justify-content: center;
	}
	&--end {
		justify-content: flex-end;
	}
	&--space-between {
		justify-content: space-between;
	}

	//xl
	&-col {
		width: 100%;
		margin-left: #{$gridBase * 2};
		margin-right: #{$gridBase * 2};

		&--1 {
			width: calc(#{$column * 1} -  #{$gridBase * 4});
		}
		&--2 {
			width: calc(#{$column * 2} -  #{$gridBase * 4});
		}
		&--25 {
			width: calc(20% -  #{$gridBase * 4});
		}
		&--3 {
			width: calc(#{$column * 3} -  #{$gridBase * 4});
		}
		&--4 {
			width: calc(#{$column * 4} -  #{$gridBase * 4});
		}
		&--5 {
			width: calc(#{$column * 5} -  #{$gridBase * 4});
		}
		&--6 {
			width: calc(#{$column * 6} -  #{$gridBase * 4});
		}
		&--7 {
			width: calc(#{$column * 7} -  #{$gridBase * 4});
		}
		&--8 {
			width: calc(#{$column * 8} -  #{$gridBase * 4});
		}
		&--9 {
			width: calc(#{$column * 9} -  #{$gridBase * 4});
		}
		&--10 {
			width: calc(#{$column * 10} -  #{$gridBase * 4});
		}
		&--11 {
			width: calc(#{$column * 11} -  #{$gridBase * 4});
		}
		&--12 {
			width: calc(#{$column * 12} -  #{$gridBase * 4});
		}
	}

	//l
	@include bp-desktopXS {
		&-col {

			&--l-1 {
				width: calc(#{$column * 1} -  #{$gridBase * 4});
			}
			&--l-2 {
				width: calc(#{$column * 2} -  #{$gridBase * 4});
			}
			&--l-3 {
				width: calc(#{$column * 3} -  #{$gridBase * 4});
			}
			&--l-4 {
				width: calc(#{$column * 4} -  #{$gridBase * 4});
			}
			&--l-5 {
				width: calc(#{$column * 5} -  #{$gridBase * 4});
			}
			&--l-6 {
				width: calc(#{$column * 6} -  #{$gridBase * 4});
			}
			&--l-7 {
				width: calc(#{$column * 7} -  #{$gridBase * 4});
			}
			&--l-8 {
				width: calc(#{$column * 8} -  #{$gridBase * 4});
			}
			&--l-9 {
				width: calc(#{$column * 9} -  #{$gridBase * 4});
			}
			&--l-10 {
				width: calc(#{$column * 10} -  #{$gridBase * 4});
			}
			&--l-11 {
				width: calc(#{$column * 11} -  #{$gridBase * 4});
			}
			&--l-12 {
				width: calc(#{$column * 12} -  #{$gridBase * 4});
			}

			&--l-show {
				display: block;
			}
			&--l-none {
				display: none;
			}
		}
	}

	//m
	@include bp-tablet {
		&-col {

			&--m-1 {
				width: calc(#{$column * 1} -  #{$gridBase * 4});
			}
			&--m-2 {
				width: calc(#{$column * 2} -  #{$gridBase * 4});
			}
			&--m-3 {
				width: calc(#{$column * 3} -  #{$gridBase * 4});
			}
			&--m-4 {
				width: calc(#{$column * 4} -  #{$gridBase * 4});
			}
			&--m-5 {
				width: calc(#{$column * 5} -  #{$gridBase * 4});
			}
			&--m-6 {
				width: calc(#{$column * 6} -  #{$gridBase * 4});
			}
			&--m-7 {
				width: calc(#{$column * 7} -  #{$gridBase * 4});
			}
			&--m-8 {
				width: calc(#{$column * 8} -  #{$gridBase * 4});
			}
			&--m-9 {
				width: calc(#{$column * 9} -  #{$gridBase * 4});
			}
			&--m-10 {
				width: calc(#{$column * 10} -  #{$gridBase * 4});
			}
			&--m-11 {
				width: calc(#{$column * 11} -  #{$gridBase * 4});
			}
			&--m-12 {
				width: calc(#{$column * 12} -  #{$gridBase * 4});
			}
			
			&--m-show {
				display: block;
			}
			&--m-none {
				display: none;
			}
		}
	}

	//s
	@include bp-tabletXS {
		width: calc(100% + 1.6rem);
		margin-left: -.8rem;
		margin-right: -.8rem;

		&-col {
			margin-left: .8rem;
			margin-right: .8rem;

			&--1 {
				width: calc(#{$column * 1} - 1.6rem);
			}
			&--2 {
				width: calc(#{$column * 2} - 1.6rem);
			}
			&--3 {
				width: calc(#{$column * 3} - 1.6rem);
			}
			&--4 {
				width: calc(#{$column * 4} - 1.6rem);
			}
			&--5 {
				width: calc(#{$column * 5} - 1.6rem);
			}
			&--6 {
				width: calc(#{$column * 6} - 1.6rem);
			}
			&--7 {
				width: calc(#{$column * 7} - 1.6rem);
			}
			&--8 {
				width: calc(#{$column * 8} - 1.6rem);
			}
			&--9 {
				width: calc(#{$column * 9} - 1.6rem);
			}
			&--10 {
				width: calc(#{$column * 10} - 1.6rem);
			}
			&--11 {
				width: calc(#{$column * 11} - 1.6rem);
			}
			&--12 {
				width: calc(#{$column * 12} - 1.6rem);
			}

			&--s-1 {
				width: calc(#{$column * 1} - 1.6rem);
			}
			&--s-2 {
				width: calc(#{$column * 2} - 1.6rem);
			}
			&--s-3 {
				width: calc(#{$column * 3} - 1.6rem);
			}
			&--s-4 {
				width: calc(#{$column * 4} - 1.6rem);
			}
			&--s-5 {
				width: calc(#{$column * 5} - 1.6rem);
			}
			&--s-6 {
				width: calc(#{$column * 6} - 1.6rem);
			}
			&--s-7 {
				width: calc(#{$column * 7} - 1.6rem);
			}
			&--s-8 {
				width: calc(#{$column * 8} - 1.6rem);
			}
			&--s-9 {
				width: calc(#{$column * 9} - 1.6rem);
			}
			&--s-10 {
				width: calc(#{$column * 10} - 1.6rem);
			}
			&--s-11 {
				width: calc(#{$column * 11} - 1.6rem);
			}
			&--s-12 {
				width: calc(#{$column * 12} - 1.6rem);
			}
			
			&--s-show {
				display: block;
			}
			&--s-none {
				display: none;
			}
		}
	}

	//xs
	@include bp-mobile {
		&-col {

			&--xs-1 {
				width: calc(#{$column * 1} - 1.6rem);
			}
			&--xs-2 {
				width: calc(#{$column * 2} - 1.6rem);
			}
			&--xs-3 {
				width: calc(#{$column * 3} - 1.6rem);
			}
			&--xs-4 {
				width: calc(#{$column * 4} - 1.6rem);
			}
			&--xs-5 {
				width: calc(#{$column * 5} - 1.6rem);
			}
			&--xs-6 {
				width: calc(#{$column * 6} - 1.6rem);
			}
			&--xs-7 {
				width: calc(#{$column * 7} - 1.6rem);
			}
			&--xs-8 {
				width: calc(#{$column * 8} - 1.6rem);
			}
			&--xs-9 {
				width: calc(#{$column * 9} - 1.6rem);
			}
			&--xs-10 {
				width: calc(#{$column * 10} - 1.6rem);
			}
			&--xs-11 {
				width: calc(#{$column * 11} - 1.6rem);
			}
			&--xs-12 {
				width: calc(#{$column * 12} - 1.6rem);
			}


			&--xs-show {
				display: block;
			}
			&--xs-none {
				display: none;
			}
		}
	}
}