.section {
	width: 100%;
	padding-top: 5.4rem;
	padding-bottom: 7rem;
	overflow: hidden;

		&__header {
			@include flex();
			align-items: center;
			justify-content: space-between;
			margin-bottom: 3.5rem;
				& .container {
					justify-content: space-between;
					align-items: center;
				}
		}
		&__headline {
			width: auto;
			margin: 0;
		}
		&__body {
			width: 100%;
		}
		&__control {
			margin-top: 4.5rem;
		}

		&--reviews {
			padding-bottom: 7.4rem;
				.section {
					&__header {}
				}
		}
		&--career {
			padding-top: 6.5rem;

				& p {
					& + p {
						margin-top: 3.2rem;
					}
				}

				.section {
					&__header {
						margin-bottom: 2rem;
					}
					&__headline {
						line-height: 4rem;
					}
				}
		}
		&--subscription {
			padding-top: 7.2rem;
			padding-bottom: 5.4rem;

				.section {
					&__header {}
					&__headline {
						color: $colorWhite;
					}
				}
		}
		&--seminars {
			position: relative;
			padding-top: 0;
			padding-bottom: 0;
			background: $colorWhite;
				.section {
					&__body {
						padding-right: 3rem;
					}
				}
		}
		&--with-image {
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
		}

		&--no-offset-top {
			padding-top: 0;
		}
		&--no-offset-bottom {
			padding-bottom: 0;
		}
		&--no-offsets {
			padding-top: 0;
			padding-bottom: 0;
		}


	@include bp-desktopXS {
		&--seminars {
			padding-top: 5.4rem;
		}
	}
	@include bp-tablet {
		&--career {
			.grid-col {
				& + .grid-col {
					margin-top: 5.4rem;
				}
			}
		}
	}
	@include bp-tabletXS {
		padding-top: 3.2rem;
		padding-bottom: 4.6rem;

			&__header {
				display: block;
				margin-bottom: 2rem;

					.button {
						margin-top: $gutter;
					}
			}

			&--seminars {
				padding-top: 3.2rem;
				padding-bottom: 0;
			}
			&--reviews {
				padding-bottom: 4.6rem;
			}
			&--career {
				padding-top: 3.2rem;

					.grid-col {
						& + .grid-col {
							margin-top: 3.2rem;
						}
					}
			}
	}
}