.website-aside {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	max-width: 60rem;
	height: 100%;
	background-color: $colorWhite;
	overflow: hidden;
	transform: translateX(-100%);
	@include smooth(.3s);
	z-index: 145;
		&__inside {
			width: 100%;
			max-height: 100%;
			padding: 8.6rem $gutter $gutter;
			overflow: auto;
		}

		.navigation {
			display: block;
			width: 100%;

				&__link {
					display: block;
					width: 100%;
					font-size: 2.4rem;
					text-transform: none;
						&::before {
							display: none;
						}

						&:hover,
						&._active {
							color: map-get($basic, theme);
						}

						&:not(:last-child) {
							margin-bottom: 2.4rem;
						}
				}

				.i {
					display: none;
				}
		}

	@include bp-tablet {
		display: block;
	}
}