.website-footer {
	width: 100%;
	height: 10rem;
	background-color: $colorBlue;

		& .container {
			height: 100%;
			align-items: center;
			justify-content: space-between;
		}

		&-copyrights {
			color: $colorWhite;
			font-size: 1.2rem;
			font-weight: 600;
		}
		&-policy {
			color: $colorWhite;
			font-size: 1.2rem;
			font-weight: 600;
				&__link {
					position: relative;
					padding-left: 4.2rem;
					@include inherit;
						&::before {
							content: '';
							position: absolute;
							top: .7rem;
							left: 0;
							display: block;
							width: 2.3rem;
							height: .2rem;
							background-color: map-get($basic, theme);
						}
				}
		}

	@include bp-tablet {
		height: 16rem;
		padding-top: 2rem;
		padding-bottom: 3rem;

			&-copyrights,
			&-policy {
				width: 100%;
				@include align_c;
			}
			&-copyrights {
				order: 1;
			}
			&-policy {
				margin-bottom: 2rem;
			}

			.social-networks {
				width: 100%;
				justify-content: center;
				margin-bottom: $gutter;
				order: -1;
			}
	}
	@include bp-mobile {
		height: 18rem;
	}
}
