.navigation {
	@include flex(auto);
	height: 100%;
	font-weight: 500;
		&__link {
			position: relative;
			@include flex(auto);
			height: 100%;
			align-items: center;
			color: map-get($basic, primary);
			font-size: 1.2rem;
			line-height: 2.4rem;
			@include upp;
				&::before {
					content: '';
					position: absolute;
					bottom: -.1rem;
					left: 0;
					width: 100%;
					height: .3rem;
					background-color: map-get($basic, theme);
					opacity: 0;
					@include smooth(.2s);
				}
				&:not(:last-child) {
					margin-right: 4rem;
				}

				&._active,
				&:hover {
					&::before {
						opacity: 1;
					}
				}

				.i {
					&._bars {
						width: 1.8rem;
						height: 1.4rem;
						margin-right: 3rem;
						fill:  map-get($basic, primary);
					}
				}
		}

	&-button {
		position: absolute;
		top: 0;
		right: 0;
		display: none;
		width: 5.6rem;
		height: 5.6rem;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		background-color: map-get($basic, theme);
			&__bar {
				position: relative;
				display: block;
				width: 1.6rem;
				height: .2rem;
				background-color: $colorWhite;
				border-radius: .4rem;
				&::before,
				&::after {
					content: '';
					position: absolute;
					left: 0;
					display: block;
					width: 100%;
					height: .2rem;
					background-color: $colorWhite;
					border-radius: .4rem;
					@include smooth(.2s);
				}
				&::before {
					top: -.6rem;
				}
				&::after {
					bottom: -.6rem;
				}
			}
	}

	@include bp-tablet {
		&-button {
			display: flex;
		}
	}
}