<div class="career-element">
    <div class="career-element__icon">
        <div class="i _icon-{{ icon }}"></div>
    </div>
    <h4 class="career-element__headline">{{ headline }}</h4>
    <div class="career-element__description">{{ description }}</div>
</div>