<div class="input js-input">
    {% if textarea %}
        <textarea name="{{ name }}" placeholder="{{ placeholder }}"></textarea>
    {% else %}
        <input type="{{ type }}" name="{{ name }}" placeholder="{{ placeholder }}">
    {% endif %}
</div>