*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-height: 100%;
    color: map-get($basic, primary);
    font-family: $font;
    font-size: 62.5%;
    font-weight: 400;
    background-color: $colorAlmostWhite;
}

body {
    line-height: 1.4;

    @include bp-tablet {
        &._nav-opened {
            height: 100%;
            overflow: hidden;

            .mobile-navigation {
                &-button {
                    &__bar {
                        background: transparent;
                        &::before {
                            top: 0;
                            width: 1.9rem;
                            transform: rotate(45deg);
                        }
                        &::after {
                            bottom: 0;
                            width: 1.9rem;
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
            .website-aside {
                transform: translateX(0);
            }
        }
    }
}

address {
    font-style: normal;
}

button {
    padding: 0;
    background: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    outline: 0;
        &:not(disabled) {
            cursor: pointer;
        }
}

img {
    @include iblock(top);
    @include image(auto, 100%);
    height:auto;
    border: 0;
}

label {
    cursor: pointer;
    user-select: none;
}

textarea {
    resize: vertical;
}

ul {
    @include list-reset;
}

@include placeholder {
    text-overflow: ellipsis;
}

input[placeholder] {
    text-overflow:ellipsis;
}

input::-moz-placeholder {
    text-overflow:ellipsis;
}

input:-moz-placeholder {
    text-overflow:ellipsis;
}

input:-ms-input-placeholder {
    text-overflow:ellipsis;
}

:focus::-webkit-input-placeholder {
    color: transparent;
}

:focus::-moz-placeholder {
    color: transparent;
}

:focus:-moz-placeholder {
    color: transparent;
}

:focus:-ms-input-placeholder {
    color: transparent;
}

/*
	Set font selection according to the website color scheme
*/

*::selection {
    background: map-get($basic, theme);
    color: $colorWhite;
}
*::-moz-selection {
    background: map-get($basic, theme);
    color: $colorWhite;
}

._hide,
._none,
[hidden] {
    display: none!important;
    visibility: hidden!important;
}

._align-l {
    @include align_l;
}
._align-c {
    @include align_c;
}
._align-r {
    @include align_r;
}
._align-j {
    @include align_j;
}

span {
    &.value {
        @include inherit;
    }
}

._theme {
    color: map-get($basic, theme);
}
