@mixin list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}
@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}
@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }

    @include optional-at-root(':-moz-placeholder') {
        @content;
    }

    @include optional-at-root('::-moz-placeholder') {
        @content;
    }

    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}
@mixin fontFace($family, $src, $style: normal, $weight: normal) {
    @font-face {
        font-family: $family;
        src: url('#{$src}.eot');
        src: url('#{$src}.eot?#iefix') format('embedded-opentype'),
             url('#{$src}.woff') format('woff'),
             url('#{$src}.ttf') format('truetype'),
             url('#{$src}.svg##{$family}') format('svg');

        font-style: $style;
        font-weight: $weight;
    }
}

@mixin media($mediaWidth) {
    @media only screen and (max-width: $mediaWidth) {
        @content;
    }
}
@mixin minMedia($mediaWidth) {
    @media only screen and (min-width: $mediaWidth) {
        @content;
    }
}

/*
    Default media queries
*/

@mixin bp-desktopHD() {
    @media only screen and (max-width: map-get($maxWidth, desktopHD) ) {
        @content;
    }
}
@mixin bp-desktop() {
    @media only screen and (max-width: map-get($maxWidth, desktop) ) {
        @content;
    }
}
@mixin bp-desktopXS() {
    @media only screen and (max-width: map-get($maxWidth, desktopXS) ) {
        @content;
    }
}
@mixin bp-tablet() {
    @media only screen and (max-width: map-get($maxWidth, tablet) ) {
        @content;
    }
}
@mixin bp-tabletXS() {
    @media only screen and (max-width: map-get($maxWidth, tabletXS) ) {
        @content;
    }
}
@mixin bp-mobile() {
    @media only screen and (max-width: map-get($maxWidth, mobile) ) {
        @content;
    }
}
@mixin bp-mobileXS() {
    @media only screen and (max-width: map-get($maxWidth, mobileXS) ) {
        @content;
    }
}

/*
    Personal mixins
*/

@mixin flex($width: 100%) {
    display: flex;
    width: $width;
    flex-wrap: wrap;
}
@mixin smooth($var) {
    transition: all $var ease;
}
@mixin table($hi: 100%) {
    display: table;
    width: 100%;
    height: $hi;
    table-layout: fixed;
}
@mixin td($align){
    display: table-cell;
    vertical-align: $align;
}
@mixin iblock($align: initial) {
    display: inline-block;
    vertical-align: $align;
}
@mixin noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
@mixin align_l {
    text-align: left;
}
@mixin align_c {
    text-align: center;
}
@mixin align_r {
    text-align: right;
}
@mixin align_j {
    text-align: justify;
}

@mixin upp {
    text-transform: uppercase;
}
@mixin image($width, $m_width) {
    width: $width;
    max-width: $m_width;
}
@mixin link($hi: auto) {
    display: block;
    height: $hi;
    text-decoration: none;
}
@mixin auto {
    margin-left: auto;
    margin-right: auto;
}
@mixin inherit {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
}
@mixin round {
    border-radius: 50%;
}
@mixin input($hi, $padding) {
    display: block;
    width: 100%;
    height: $hi;
    padding: $padding;
    font-family: $font;
    font-size: 1.6rem;
    font-weight: 500;
    background: transparent;
    border: 0;
    border-bottom: .1rem solid transparent;
    box-shadow: none;
    border-radius: 0;
    outline: 0;
    resize: none;
    appearance: none;
    @include smooth(.2s);
}
@mixin button($width, $hi, $padding, $bg, $bc) {
    display: inline-flex;
    width: $width;
    height: $hi;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: $padding;
    color: $colorWhite;
    font-family: $font;
    font-size: 1.4rem;
    text-decoration: none;
    line-height: normal;
    background: $bg;
    border: .1rem solid $bc;
    border-radius: 0;
    @include noselect;
    @include smooth(.2s);
}
@mixin hundred {
    width: 100%;
    height: 100%;
}
@mixin full {
    @include hundred;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

