/* Headings */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	width: 100%;
	margin: 0;
	font-family: $font;
	font-weight: 600;
}

h1, .h1 {
	margin-bottom: 6rem;
	font-size: 4.6rem;
	line-height: 5.2rem;
}

h2, .h2 {
	margin-bottom: 4rem;
	font-size: 3.6rem;
	line-height: 4.35rem;
}

h3, .h3 {
	margin-bottom: 3rem;
	font-size: 3.2rem;
	line-height: 3.8rem;
}

h4, .h4 {
	margin-bottom: 2rem;
	font-size: 2.4rem;
	line-height: 2.8rem;
}

h5, .h5 {
	margin-bottom: 1.6rem;
	font-size: 2rem;
	line-height: 2.8rem;
}

h6, .h6 {
	margin-bottom: 1.7rem;
	font-size: 1.8rem;
	line-height: 2.2rem;
}

@include bp-tabletXS {
	h1, .h1 {
		margin-bottom: 4rem;
		font-size: 3.2rem;
		line-height: 3.8rem;
	}
	h2, .h2 {
		margin-bottom: 3rem;
		font-size: 2.8rem;
		line-height: 3.4rem;
	}

	h4, .h4 {
		margin-bottom: 1rem;
		font-size: 2rem;
		line-height: 2.4rem;
	}
}

/* Text */

p {
	margin: 0;
	font-size: 1.86rem;
	line-height: 2.95rem;

		& + p {
			margin-top: $gutter;
		}

		&.p--s {
			font-size: 1.5rem;
			line-height: 2.2rem;
		}

	@include bp-tabletXS {
		font-size: 1.4rem;
		line-height: 2.2rem;

			&.p--s {
				font-size: 1.2rem;
				line-height: 1.8rem;
			}
	}
}

/* Links */


a {
	color: map-get($basic, theme);
	font-size: inherit;
	text-decoration: none;
	outline: 0;
	@include smooth(.15s);

	&:not(.borderless):not(.button) {
		border-bottom: .1rem solid transparent;

		&:hover {
			border-bottom-color: rgba(map-get($basic, theme), .2);
		}
	}
}