/* Basic */

$containerWidth       : 119.2rem;
$columns              : 12;
$gutter               : 1.6rem;
$column               : (100% / 12);
$gridBase             : .6rem;


/* Sizes */

$size                 : 62.5%;

/* Font Families */

$font                 : 'Montserrat', sans-serif;

/* Colors */

$colorBlack           : #000000;
$colorWhite           : #ffffff;
$colorRed             : #ff0000;
$colorAlmostWhite     : #f5f5fa;
$colorBlue            : #29358c;
$colorBorder          : #d2d2dc;

$basic: (
		theme      : #d10f8d,
		primary    : $colorBlack,
		secondary  : #333333,
);

/* Media Queries */

$maxWidth: (
	desktopHD : 1450px,
	desktop   : 1285px,
	desktopXS : 1199px,
	tablet    : 991px,
	tabletXS  : 767px,
	mobile    : 599px,
	mobileXS  : 359px
);
$minWidth: (
	desktopHD : 1451px,
	desktop   : 1286px,
	desktopXS : 1200px,
	tablet    : 992px,
	tabletXS  : 768px,
	mobile    : 600px,
	mobileXS  : 360px
);
// Example
// map-get($minWidth, desktopHD);


/* Other */
$radius              : .5rem;
