.about {
	&-array {
		&__element {}
	}
	&-element {
		width: 100%;
	}
	&-figures {
		width: 100%;
		margin-top: 2.8rem;
	}
	&-figure {
		width: 100%;
		&__value {
			color: map-get($basic, theme);
			font-size: 4.4rem;
			font-weight: 300;
			line-height: 7rem;

		}
		&__description {
			font-size: 1.4rem;
			font-weight: 500;
			line-height: 2rem;
		}
	}
	&-slider {
		position: relative;
		width: calc(100% + 2.4rem);
		margin-top: 6.6rem;
		margin-left: -1.2rem;
		margin-right: -1.2rem;
			&__element {
				outline: 0;
				padding-left: 1.2rem;
				padding-right: 1.2rem;
					.grid-col {
						position: relative;
						height: 0;
						padding-bottom: 28%;

						overflow: hidden;
					}

					img {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						object-fit: cover;
						object-position: center top;
					}
			}
	}

	@include bp-tablet {
		&-array {
			&__element {
				&:not(:last-child) {
					margin-bottom: $gutter;
				}
			}
		}
		&-figure {
			margin-top: 2rem;
				&:nth-child(1),
				&:nth-child(2) {
					margin-top: 0;
				}
		}
	}
	@include bp-tabletXS {
		&-figure {
			&__value {
				font-size: 3.2rem;
				line-height: 4.8rem;

			}
			&__description {
				font-size: 1.3rem;
				line-height: 1.8rem;
			}
		}
	}
	@include bp-mobile {
		&-figure {
			margin-top: $gutter;
			&:nth-child(1),
			&:nth-child(2) {
				margin-top: $gutter;
			}
		}
	}
}