._with-arrows {
	.slick {
		&-arrow {
			position: absolute;
			left: -4rem;
			display: flex;
			width: 2rem;
			height: 2.4rem;
			align-items: center;
			flex-direction: column;
			flex-wrap: wrap;
			z-index: 2;
			@include smooth(.2s);

			.i {
				width: 1.8rem;
				height: .9rem;
				fill: map-get($basic, theme);
				vertical-align: middle;
				@include smooth(.2s);
			}
		}

		&-prev {
			top: 0;
			justify-content: flex-start;
		}

		&-next {
			top: 2.5rem;
			justify-content: flex-end;
		}

		&-disabled {
			opacity: .3;
			pointer-events: none;
		}
	}
}