.company {
	&-features {
		@include flex();
		align-items: flex-start;
		margin-top: 8.6rem;
		color: $colorWhite;

			&__headline {
				margin-bottom: 2.6rem;
				color: $colorWhite;
			}
			&__array {
				@include flex();
				align-items: flex-start;
			}
			&__element {
				position: relative;
				max-width: 20rem;
				padding-left: 3.6rem;
				font-size: 1.4rem;
				line-height: 2.2rem;
					&::before {
						content: '';
						position: absolute;
						top: .9rem;
						left: 0;
						display: block;
						width: 2.3rem;
						height: .3rem;
						background: map-get($basic, theme);
					}

					&:not(:last-child) {
						margin-right: 3rem;
					}
			}
	}

	@include bp-desktopXS {
		&-features {
			&__element {
				max-width: 16rem;
			}
		}
	}
	@include bp-tablet {
		&-features {
			display: none;
		}
	}
}