._with-dots {
	.slick-dots {
		@include flex();
		justify-content: center;
		margin: .6rem 0 0 0;
		padding: 0;
		font-size: 0;
		list-style: none;
			li {
				width: .8rem;
				height: .8rem;
					&:not(:last-child) {
						margin-right: .8rem;
					}

					&.slick-active {
						button {
							background-color: map-get($basic, theme);
						}
					}
			}

			button {
				display: block;
				@include hundred;
				background-color: $colorWhite;
				@include round;
				@include smooth(.2s);
			}
	}
}