.form {
	@include flex();
	align-items: flex-start;
	justify-content: space-between;


		&__group {
			@include flex;
			align-items: flex-start;
				&--subscription {
					width: 100%;
					max-width: 76.4rem;
					justify-content: space-between;
				}
				&--control {
					width: 27rem;
				}
		}
		&__element {
			width: 100%;
				&--50 {
					width: calc(50% - 1rem);
				}
		}
		&__agreement {
			margin-top: 1.1rem;
			color: $colorWhite;
			font-size: 1rem;
			font-weight: 500;
			line-height: 1.4rem;
		}

	@include bp-desktopXS {
		&__group {
			&--subscription {
				width: calc(100% - 30rem);
				max-width: initial;
			}
		}
	}
	@include bp-tablet {
		&__group {
			&--subscription,
			&--control {
				width: 100%;
			}
			&--control {
				margin-top: $gutter;
			}
		}
	}
	@include bp-tabletXS {
		&__element {
			width: 100%;
			&--50 {
				width: 100%;
					&:not(:last-child) {
						margin-bottom: $gutter;
					}
			}
		}
	}
}