.fullwidth-banner {
	position: relative;
	width: 100%;
	min-height: 52.5rem;

		& .container {
			position: relative;
			padding-top: 3.4rem;
			padding-bottom: 6.4rem;
			z-index: 1;
		}
		& .breadcrumbs {
			margin-bottom: 3.5rem;
		}

		&__image {
			position: absolute;
			top: 0;
			left: 0;
			@include full;
			z-index: 0;
		}
		&__headline {
			margin: 0;
			color: $colorWhite;

				& span {
					display: block;
				}
		}

	@include bp-tablet {
		min-height: auto;

			& .container {
				padding-top: 14rem;
				padding-bottom: 12rem;
			}
			& .breadcrumbs {
				position: absolute;
				top: 3.4rem;
				left: 0;
				margin-top: 0;
				padding-left: $gutter;
			}
	}
}