.reviews {
	&-array {
		&__element {}
	}
	&-element {
		@include hundred;
		padding: 6.4rem 4.2rem 6rem 5.2rem;
		background-color: $colorWhite;
			&__headline {
				margin-bottom: 2.6rem;
			}
	}

	@include bp-tablet {
		&-array {
			&__element {
				&:not(:last-child) {
					margin-bottom: $gutter;
				}
			}
		}
	}
	@include bp-mobile {
		&-element {
			@include hundred;
			padding: 3.2rem $gutter 4.6rem;
			background-color: $colorWhite;
				&__headline {
					margin-bottom: 2rem;
				}
		}
	}
}