.system-message {
	position: relative;

	&-container {
		position: absolute;
		top: 0;
		left: 0;
		@include flex();
		height: 100%;
		align-items: center;
		justify-content: center;
		background-color: map-get($basic, theme);
		opacity: 0;
		pointer-events: none;
		visibility: hidden;
		@include smooth(.2s);
		z-index: -1;

			&__headline {
				margin: 0;
				color: $colorWhite;
				font-weight: 300;
				@include align_c;
			}
	}
	&--success {
		.system-message-container  {
			opacity: 1;
			pointer-events: all;
			visibility: visible;
			z-index: 2;
		}
	}
}