{% set socials = [
    'social-networks__element--inst',
    'social-networks__element--ok',
    'social-networks__element--yt',
    'social-networks__element--vk',
    'social-networks__element--fb',
] %}

<div class="social-networks">
    {% for i in socials %}
        <a href="javascript:void(0);" class="social-networks__element {{ i }} borderless"></a>
    {% endfor %}
</div>