{% extends 'templates/default.twig' %}

{% block title %}Главная{% endblock %}

{% block page %}
    {% include 'templates/sections/fullwidth-banner.twig' %}
    {% include 'templates/sections/about.twig' %}
    {% include 'templates/sections/seminars.twig' %}
    {% include 'templates/sections/career.twig' %}
    {% include 'templates/sections/subscription.twig' %}
    {% include 'templates/sections/reviews.twig' %}
{% endblock %}